<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3>
                {{mName}}管理
            </h3>  
      
  
<div class="panel panel-info"> 

    <div class="navbar-form navbar-left" >
        <input  style="width:16%; margin-right: 5px;" class="form-control"
                ng-repeat="item in cols track by $index"
                ng-model="search[item]"
                ng-keydown="keydown($event);"
                placeholder="{{item}}"
        >
        <button class="btn" ng-click="make()" >构造参数</button>

    </div>
    <div class="clear"/>

    <div class="panel-body">
        <div style="width:100%;margin-bottom: 4px;">
            <input style="width:70%;float:left;" ng-model="urlGet" class="form-control"/>
            <button class="btn" ng-click="get()" >get by id</button>
        </div>
        <div style="width:100%;margin-bottom: 4px;">
            <input style="width:70%;float:left;" ng-model="urlPost" class="form-control"/>
            <button class="btn" ng-click="post()" >post add</button>
        </div>
        <div style="width:100%;margin-bottom: 4px;">
            <input style="width:70%;float:left;" ng-model="urlPut" class="form-control"/>
            <button class="btn" ng-click="put()" >put update</button>
        </div>
        <div style="width:100%;margin-bottom: 4px;">
            <input style="width:70%;float:left;" ng-model="urlDelete" class="form-control"/>
            <button class="btn" ng-click="delete()" >delete by id</button>
        </div>


        <div style="width:48%;float:left;">
            参数
            <textarea style="height:100px;width:100%" ng-model="argsStr"></textarea>
        </div>

        <div style="width:48%;float:right;">
            调用结果
            <textarea style="height:100px;width:100%" ng-model="res"></textarea>
        </div>

 


<div ui-view="">aaaaaaaaaa
</div>

</div>


