<tfoot>
    <tr>
        <td colspan="998" >
            <center>
    <!-- 
    int SHOWNUM = defaultSHOWNUM;//每页数量
    int NOWPAGE = 1;    //当前页码
    int PAGENUM = 0;    //总页数
    String ORDER;   //排序
    String DESC;    //倒序 
    -->
     
<button class="btn page" ng-click="page.NOWPAGE=1;  list();"><<</button> 
<button class="btn page" ng-click="page.NOWPAGE=page.NOWPAGE > 1 ? (page.NOWPAGE-1) : 1;  list();"><</button> 

<span  ng-repeat="item in pages track by $index">
    <button  class="page-{{item == page.NOWPAGE}}" ng-click="page.NOWPAGE=item;  list();">{{item}} </button>
</span>

<button class="btn page" ng-click="page.NOWPAGE=((page.NOWPAGE+1) > page.PAGENUM ? page.PAGENUM : (page.NOWPAGE+ 1));  list(); ">></button> 
<button class="btn page" ng-click="page.NOWPAGE=page.PAGENUM;  list();">>></button> 
当前第 
<input type="text"  style="width:40px;" ng-model="page.NOWPAGE" ng-keydown="keydown($event);" />
/
{{page.PAGENUM}}页  
每页显示  
<input style="width: 40px;" type="text" ng-model="page.SHOWNUM" ng-keydown="page.NOWPAGE=1;keydown($event);"
/><!--修改显示条数后显示第一页-->
条，共{{page.NUM}}条 
<input type="hidden" style="width:0px;height:0px;" value="{{page.ORDER}}"/>
           

        </center>
        </td>
    </tr>
</tfoot>