 <!--      
 
 使用时嵌入html
	<ng-include  src="'common/template/table.html'"></ng-include>
	
依赖
	$scope.showCols			显示列集合
	$scope.httplist				结果集合

	$scope.page					分页参数
	$scope.list						翻页时调用
	$scope.sort.orderCol	排序列
						.order			是否倒序
	$scope.sums					统计和
	
 -->

 <div class="panel-body">
        <table class="table table-hover">
            <thead>
	            <tr class="colorChromeTitle">
	                <th> No. </th>
	                <th class="hand" ng-repeat="item in showCols track by $index" ng-click="changeOrder(item)" ng-class="{dropup:sort.order === ''}">
	                    {{item}}
	                    <span ng-show="sort.orderCol==item" ng-class="{orderColor:sort.orderCol === item}" class="caret"></span>
	                </th>
	            </tr>
            </thead> 
	        <tbody> 
	        <!-- filter:search -->
	        <tr ng-class="{'colorLevel2':item['TYPE']==2,'colorLevel1':item['TYPE']==1,}"
					ng-repeat="item in httplist | orderBy:sort.order + sort.orderCol"  
             > 
	                <td class="colorChromeTitle sizeNum">{{$index + 1}}</td>
	                <td ng-class="{colorChromeTitle:sort.orderCol === name}" style="max-width: 30%;"
	                        ng-repeat="name in showCols track by $index"
	                        title="{{item[name]}}">{{item[name]}}</td>
	            </tr>
	            <tr>
	                <td class="info sizeNum">Statics</td>
	                <td  ng-repeat="key in showCols track by $index">{{sums[key]}}</td>
	            </tr>
	        </tbody>
	    </table>  

       <ng-include  src="'common/template/list_table_foot.html'"></ng-include>

 
</div>




