<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
		    <h3>
		        {{mName}}管理
		    </h3>  
		
		    <div class="navbar-form navbar-left" > 
		        <input type="text" ng-model="table"  class="form-control" placeholder="tableName">
		        <button class="btn" ng-click="goHome()" >管理</button> 
		
		    </div> 
		    <div class="clear"/>
		
		    <div class="panel panel-info">
		        <div ui-view>
		            子模块内容
		        </div>
		    </div>  
		         




        </div>
        
         <div class="span12">
		    <h4>
		       sql测试
		    </h4>  
		
		    <div class="panel panel-info">
                <textarea ng-keydown="keydown($event);"  style="height:100px;width:100%" ng-model="sql"></textarea>
            	<button class="btn" ng-click="list()" >执行</button> 
				<div>{{err}}</div>
            	<ng-include  src="'common/template/table.html'"></ng-include>
		    </div>  
		         




        </div>
        
        
    </div>
</div>


