<div class="container-fluid">
    <div class="row-fluid">
         <div class="span12">
		    <h4>
		       sql代理
		    </h4>  
		
		    <div class="panel panel-info">
                <textarea ng-keydown="keydown($event);"  style="height:100px;width:100%" ng-model="sql"></textarea>
            	<button class="btn" ng-click="list()" >执行</button> 
				<div>{{err}}</div>
            	<ng-include  src="'common/template/table.html'"></ng-include>
		    </div>  
		         




        </div>
        
        
    </div>
</div>


