<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.dao.mybatis.BaseMapper">
 
    
    <sql id="selectWords">
         ID, NAME, S_MTIME, S_FLAG
    </sql>
    
	<insert id="add" parameterType="java.util.Map">
        INSERT INTO STUDENT 
        (ID, NAME, S_MTIME, S_FLAG)
        VALUES 
        ( #{ID},#{NAME},#{S_MTIME},#{S_FLAG} )
    </insert>

	<select id="find" resultType="java.util.Map" parameterType="java.util.Map" >
			
		<!-- and pagestart != '' 识别为整数？ -->
        <if test="PAGESTART != null and PAGESTOP != null and PAGESTOP != ''  ">
			select * from ( select t.*,rownum RR from ( 
		</if>   
	
	
		select   
		<!-- id,name,time  -->
		<include refid="selectWords"></include> 
		from STUDENT 
	  	where 1=1  
        <if test="ID != null and ID != '' ">
            and ID like  #{ID} 
        </if> 
        <if test="NAME != null and NAME != '' ">
            and  NAME like  #{NAME}
        </if>
        <if test="S_FLAG != null and S_FLAG != '' ">
            and  S_FLAG like  #{S_FLAG}
        </if>
        <if test="TIMEFROM != null and TIMEFROM != '' ">
            and TIME >= #{TIMEFROM}
        </if>
        <if test="TIMETO != null and TIMETO != '' ">
            and TIME &lt;= #{TIMETO} 
        </if>   
        <if test="IDS != null and IDS != '' ">
            and  ID in
              <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
       			 #{item}
   			  </foreach>
        </if>
        <if test="ORDER != null and ORDER != '' ">
            order by ${ORDER} <!-- 必须$不转义字符串替换 -->
        </if>   
        
        <if test="PAGESTART != null and PAGESTOP != null and PAGESTOP != ''  ">
       	 	) t   ) where rr > #{PAGESTART}  and  RR  &lt;= #{PAGESTOP}
		</if>
     
	</select>
   <select id="count" resultType="long" parameterType="java.util.Map" >
		select   count(*) CC  from STUDENT  	where 1=1  
        <if test="ID != null and ID != '' ">
            and ID like  #{ID} 
        </if> 
        <if test="NAME != null and NAME != '' ">
            and  NAME like  #{NAME}
        </if>
        <if test="S_FLAG != null and S_FLAG != '' ">
            and  S_FLAG like  #{S_FLAG}
        </if>
        <if test="TIMEFROM != null and TIMEFROM != '' ">
            and TIME >= #{TIMEFROM}
        </if>
        <if test="TIMETO != null and TIMETO != '' ">
            and TIME &lt;= #{TIMETO} 
        </if>   
        <if test="IDS != null and IDS != '' ">
            and  ID in
              <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
       			 #{item}
   			  </foreach>
        </if>
	</select>
	
	<update id="update" parameterType="java.util.Map">
		update  STUDENT
        <trim prefix="set" suffixOverrides=",">
            <if test="NAME != null">
           		NAME=#{NAME},
            </if>
            <if test="S_FLAG != null">
           		S_FLAG=#{S_FLAG},
            </if>
            <if test="TIME != null">
            	TIME=#{TIME}
            </if>
        </trim>
        where ID = #{ID}
    </update>

	<delete id="delete" parameterType="java.util.Map">
		delete from  STUDENT
        where ID = #{ID}
    </delete>
	


</mapper>  