<?xml version="1.0" encoding="UTF-8"?> 

<root>
        <about-after>执行plugin之后再执行，用于统计执行结果情况，监控计数配置位置 登录前？还是（有效）处理完后？可调整配置位置<about-after>
        
        
                <before>
                        
                        <excludes>echo<excludes>
                        <excludes>test<excludes>

                        
                        <params>
                                <size>2048<size>
                                <tip>最大长度不能超过<tip>
                        </params>
                        <class>com.walker.socket.server_1.plugin.aop.SizeAop<class>
                        <on>true<on>
                </before>
        
                <before>
                        
                        <excludes>login<excludes>
                        <excludes>login1<excludes>

                        
                        <params>
                                <tip>未登录<tip>
                        </params>
                        <class>com.walker.socket.server_1.plugin.aop.AuthAop<class>
                        <on>false<on>
                </before>

        
        <plugins>
                
                <monitor>
                        <class>com.walker.socket.server_1.plugin.MonitorPlugin<class>
                        <on>true<on>
                </monitor>
                
                <echo>
                        <limit>0<limit>
                        <class>com.walker.socket.server_1.plugin.EchoPlugin<class>
                        <on>true<on>
                </echo>
                
                <login>
                        <limit>0<limit>
                        <class>com.walker.socket.server_1.plugin.LoginPlugin<class>
                        <on>true<on>
                </login>
                
                <message>
                        <class>com.walker.socket.server_1.plugin.MessagePlugin<class>
                        <on>true<on>
                </message>
                
                <login1>
                        <limit>1<limit>
                        <class>com.walker.socket.server_1.plugin.Login<class>
                        <on>false<on>
                </login1>
        </plugins>
        <about-before>执行plugin之前执行，拦截器，顺序执行，可配例外plugin，返回false则中断<about-before>
        

        <version>1.0<version>
        <about-plugins>plugin插件配置，不分顺序，一个消息只执行一个业务处理 type data，限流配置<about-plugins>
</root>